h4{
  margin: 30px;
  font-size: 35px;
  
}
table {
    border: 1px solid black;
    border-collapse: separate;
    font-family: 'Noto Sans JP', sans-serif;
    text-align: center;
    height: 85px;
    padding: 5px 5px 8px;
    top: 0;
    font-size: 12px;
    box-sizing: border-box;
    width: 50%;
    margin-top:20px;
    margin-bottom:20px;
    margin-left:20px;
    margin-right:20px;

  }
  th{
    border:1px solid black;
    height: 20px;
    width: 20px;
  }
  .time:hover{
    background-color:rgb(178, 186, 194);
  }
  #title {
    background-color: lightgrey;
    font-size:15px;
   
  }